@font-face {
    font-family: 'Antonella Script X';
    src: url('../fonts/AntonellaScriptX.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/Impact.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Streamster';
    src: url('../fonts/Streamster.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Triod Postnaja';
    src: url('../fonts/TriodPostnaja.ttf');
    font-style: normal;
    font-weight: normal;
}